* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

@font-face {
  font-family: CustomFont;
  src: url("/assets/Aileron-Thin.otf") format("opentype");
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.modalContents {
  font-family: "Inter";
  margin: 0;
  padding: 40px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  color: #fff;
}

.labelModal {
  text-align: center;
  margin-bottom: 20px;
}

.labelModal p {
  margin: 0;
  font-size: 1.2em;
}

.labelModal p span {
  color: #81ce9c;
}

form {
  display: flex;
  flex-direction: column;
}

#loginForm {
  border-radius: 10px;
  padding: 20px;
}

label {
  margin-top: 10px;
  color: #bbb;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  font-family: "Inter";
  color: #81ce9c;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
  display: inline-block;
  background-color: transparent;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:hover::before {
  border-color: #888;
}

input[type="checkbox"]:checked::before {
  background-color: #81ce9c;
  border-color: #4caf50;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
}

.passShow {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.passShow label {
  margin-left: 5px;
  color: #bbb;
}

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #81ce9c;
  color: #333;
  font-size: 1em;
  cursor: pointer;
  font-family: "Inter";
  font-weight: bolder;
}

button:hover {
  background-color: #6ab885;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  color: white;
  width: 100%;
  padding-inline: 100px;
  background-color: rgba(0, 0, 0, 1);
}

.navigation a {
  text-decoration: none;
  color: white;
  transition: color 1 ease;
}

.navigation a:hover {
  color: #81ce9c;
}

.navigation a:active {
  color: inherit;
}

#logo {
  font-family: CustomFont;
  font-weight: bold;
}

#navBar {
  display: flex;
  list-style: none;
  align-items: center;
  font-family: "Inter";
}
li {
  margin: 0 15px;
}

.firsContent {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  padding-inline: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1)),
    url("images/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}

.partText {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  width: 100%;
  align-items: start;
}

#buttonSign {
  font-family: "Inter";
  font-weight: 700;
  min-width: 150px;
  max-width: 200px;
  width: 100%;
  padding-block: 10px;
  border-radius: 25px;
  background-color: #81ce9c;
  font-size: clamp(12px, 2vw, 18px);
  transition: background-color 0.5s ease, transform 0.5s ease;
}

#buttonSign:hover {
  background-color: #72e485;
  transform: scale(1.05);
}

#heading {
  font-size: clamp(20px, 4vw, 70px);
  width: 90%;
  min-width: 250px;
}

#subHeading {
  font-size: clamp(12px, 2vw, 18px);
  width: 85%;
}

.image-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.slanted-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slanted-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Second Content */

.secondContent {
  height: 100vh;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(255, 255, 255, 1)
    ),
    url(/images/bg6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.appLabel {
  width: 60%;
  text-align: center;
}

.cardsContent {
  width: 90%;
  display: flex;
  gap: 3%;
  flex-wrap: wrap;
}

#longDesc {
  text-align: center;
  color: rgb(97, 97, 97);
  font-size: clamp(13px, 2vw, 18px);
  font-weight: 500;
}

i {
  color: #72e485;
  font-size: clamp(20px, 2vw, 30px);
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.card {
  background-color: white;
  flex: 1 1 20%;
  border-radius: 25px;
  padding: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card:hover {
  background-color: #81ce9c;
  transform: scale(1.05);
}

.card p {
  color: rgb(97, 97, 97);
  transition: color 0.3 ease;
  font-weight: 600;
}

.card p:hover {
  color: rgb(0, 0, 0);
}

.card h1 {
  font-size: clamp(14px, 2vw, 20px);
}

.secondContent h1,
p {
  font-family: "Inter";
}

#labelTeam {
  font-family: "Inter";
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.teamMembers {
  border-radius: 25px;
  padding-block: 100px;
  width: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  gap: 20px;
  gap: clamp(20px, 2vw, 50px);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.nameTag {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #81ce9c;
  height: auto;
  padding-block: 10px;
  margin: 0;
}

.member h1 {
  font-family: CustomFont;
  font-size: clamp(12px, 2vw, 17px);
}

.name {
  font-family: CustomFont;
  font-size: clamp(12px, 2vw, 17px);
  color: white;
}

.member p {
  font-family: "Inter";
  font-size: clamp(10px, 2vw, 13px);
}

.member {
  width: 40%;
  border-radius: 20px;
  border: #81ce9c solid 2px;
}

.imageMember {
  width: clamp(350px, 2vw, 500px);
  height: auto;
}

/* Third Content */

.thirdContent {
  display: flex;
  flex-direction: row;
  flex: 1 1 50%;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1)),
    url("images/bg5.jpg");
}

.thirdContent > * {
  margin-right: 50px;
}

.intructor {
  width: 50%;
  position: relative;
}

#sirNorris {
  width: 60%;
  height: auto;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#divOverlay {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  position: absolute;
  left: 55%;
  transform: translate(-50%, -44%);
  background-color: #72e485;
}

.intructorContents {
  width: 50%;
}

#sanok {
  max-width: 100%;
  height: auto;
}

.placeHolder {
  color: rgb(185, 185, 185);
  font-family: "Inter";
}

.intructorContents {
  font-family: "Inter";
  text-align: justify;
}
/* Fourth Content */

.fourthContent {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

#teamLabel {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter";
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  font-family: CustomFont;
  font-weight: bolder;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #72e485;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* dashboard */
